<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <title>StrayObject - {{title|capitalize}}</title>
            <link rel="stylesheet" type="text/css" href="/css/style.css"/>
        {% endblock %}
    </head>
    <body>
        <header>
            {%include 'header.html'%}
            <footer>
                {% block footer %}
                    &copy; Copyright {{'now'|date('Y')}}.
                {% endblock %}
            </footer>
        </header>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
        <script type="text/javascript">
            
        </script>
    </body>
</html>
