{%block header%}
    <h1 class="small"><a href="/">StrayObject</a></h1>
    <nav>
        {%block nav%}
            <ul>
                <li><a href="/me">Me</a></li>
                <li><a href="https://github.com/strayobject">Code</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/blog">Blog</a></li>
            </ul>
        {%endblock%}
    </nav>
    {%block git%}
    <hr/>
    <ul class="git">
        <li><a href="https://twitter.com/strayobject">Twitter</a></li>
        <li><a href="https://www.linkedin.com/in/michael-zdrojewski-a0b4aa40">LinkedIn</a></li>
        <li><a href="https://github.com/strayobject">GitHub</a></li>
        <li><a href="https://medium.com/@strayobject">Medium</a></li>
    </ul>
    {%endblock%}
{%endblock%}
