body, html{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    background:rgb(15, 45, 60);
    position:relative;
}
header{
    height:100%;
    padding:1% 0;
    background:#002535;
    color:rgb(255,255,255);
    width:35%;
    width:calc(280px);
    overflow:hidden;
    position:fixed;
    left:0;
    top:0;
    bottom:0;
    box-sizing: border-box;
}
h1.small{
    font-size:1.5em;
    padding-left:20px;
}
a {
    color:rgb(255,255,255);
    text-decoration: none;
}
nav,ul{
    padding-top:5px;
    width:100%;
}
nav ul, ul.git{
    list-style: none;
    margin:0;
    padding:0;
}
nav ul li, ul.git li{
    line-height: 40px;
}
nav ul li a, ul.git a{
    display: block;
    text-decoration: none;
    color:rgb(255,255,255);
    padding-left:40px;
    width:100%;
    box-sizing: border-box;
}
nav ul li a:hover, ul.git a:hover{
    background:rgb(15, 45, 60);
}
header hr{
    height:3px;
    border:none;
    background:rgb(15, 45, 60);
}
ul.git{
    font-size:0.9em;
}
ul.git li{
    line-height: 20px;
}
div#content{
    box-shadow: 3px 0px 7px -8px rgb(255, 255, 255) inset;
    margin-right:-15%;
    color:rgb(255,255,255);
    background:rgb(15, 45, 60);
    padding:50px 5% 3%;
    height:100%;
    width:65%;
    width:calc(100% - 280px);
    box-sizing: border-box;
    position:absolute;
    left:280px;
    overflow:auto;
}
div#content a{
    color:rgb(0,150,255);
    text-decoration: none;
}
footer{
    height:25px;
    position: absolute;
    bottom:0;
    padding-right: 5px;
    font-size:0.8em;
}
.tagBlock div {
    margin:2px 0;
    padding:1px 3px;
    background:rgb(20,100,150);
}
.post {
    margin:50px 0 0;
    clear:both;
    transition: opacity 1s ease-in-out;
}
.post.twitter {
    background: rgb(63, 87, 99);
}
.post.medium {
    border-bottom: 1px dotted rgb(255,255,255);
    padding-bottom:50px;
}
.post .details {
  display: inline-block;
  font-size: 0.6em;
  padding: 5px;
  text-align: center;
  vertical-align: top;
  width: 55px;
}
.post .details img {
    max-width:100%;
}
.post.twitter .details {
    vertical-align: middle;
}
.post.medium .details {
    float:left;
    margin:10px;
}
.post blockquote {
    margin-top: 10px 0 10px 50px;
    padding-left: 15px;
    border-left: 3px solid #ccc;
    background: rgb(63, 87, 99);
    display:inline-block;
}
.post.hidden {
    visibility: hidden;
    opacity:0;
}
.feed-selector-box {
    text-align: right;
}
span.feed-selector {
    display: inline-block;
    padding:5px;
    border-right:1px solid rgb(39, 66, 80);
    border-left:1px solid rgb(39, 66, 80);
    font-size:0.8em;
    cursor: pointer;
}
