{% extends "base.html" %}

{% block content %}
    <h1>Hi!</h1>
    <p>
        I'm Mike; I help startups and larger companies make their applications as good as possible.
        <br/>Visit <a href="/projects">projects</a> or <a href="/me">about</a> to learn more.
    </p>
    <div class="feed-selector-box">
        <span class="feed-selector left" id="feed-all">All</span>
        <span class="feed-selector" id="medium">Medium</span>
        <span class="feed-selector right" id="twitter">Twitter</span>
    </div>
    {% if feed is empty %}
        Sorry, we had an issue fetching the feed.
    {% endif %}
    {% for post in feed %}
        <div class="post {{ post.platform }}">
            {{ include('partial/feeditem.html') }}
        </div>
    {% endfor %}
{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="/js/feed.js"></script>
{% endblock %}
