{% extends "base.html" %}

{% block title %}{{title}}{% endblock %}
{% block content %}
    <h1>{{title}}</h1>
    <p>
        fileServe
    </p>
    <p>
        Front - Router/Forwarder/basic website - an <a href="http://amphp.org">Aerys</a> based website.
    </p>
    <p>
        <a href="http://sochat.strayobject.co.uk">soChat</a> - A websocket based chat, built with RachetPHP.
    </p>
    <p>
        <a href="http://ics.strayobject.co.uk">ICS Translator</a> - An International Code of Signals translator, demo built using AngularJS.
    </p>
{% endblock %}
