{% extends "base.html" %}

{% block content %}
    <h1>Hi!</h1>
    <p>
        I'm Mike and I write code.
    </p>
    <p>These things I know well or fairly well, many more I have played with, but had no use for or I'm more than happy to learn.</p>
    <div class="tagList">
        <div class="tagBlock">
            <h3>Languages</h3>
            <div>PHP</div>
            <div>GO</div>
            <div>JavaScript</div>
        </div>
        <div class="tagBlock">
            <h3>Frameworks</h3>
            <div>Silex</div>
            <div>Symfony2 Framework</div>
            <div>AMPHP</div>
            <div>RactPHP+RatchetPHP</div>
            <div>AngularJS</div>
            <div>Magento 1</div>
        </div>
        <div class="tagBlock">
            <h3>Databases</h3>
            <div>MySQL/MariaDB</div>
            <div>Galera Cluster</div>
            <div>RethinkDB</div>
        </div>
        <div class="tagBlock">
            <h3>Dev Ops</h3>
            <div>Vagrant</div>
            <div>Docker</div>
            <div>Git</div>
            <div>AWS (ec2/rds/ebs/sqs/elasticache)</div>
            <div>Windows Azure (linux instances)</div>
            <div>OVH+Kimsufi</div>
            <div>JIRA</div>
            <div>Taiga.io</div>
            <div>Ansible</div>

        </div>
        <div class="tagBlock">
            <h3>Other</h3>
            <div>REST</div>
            <div>WebSockets</div>
            <div>HTML5</div>
            <div>CSS3</div>
            <div>Phalcon PHP</div>
            <div>Qt Creator</div>
            <div>SailfishOS</div>
        </div>
    </div>
    <br/>
    <p>I also like to drive, swim, ski and sail, but you most likely do not care about those.</p>
{% endblock %}
