{% extends "base.html" %}

{% block content %}
    <h1>Hi!</h1>
    <p>
        I'm Mike and I do a lot of things; I manage teams, maintain servers, design software, but what I like most is to write code.
        <br/>I have almost 10 years of commercial PHP experience, I play with Javascript, Node, Angular and NativeScript. 
        I'm learning GO (a programming language, not game).
        <br/>I'm also an avid fan of Linux and I'm keen to learn new things.
        <br/>If you have an interesting project and are looking for help with software development or deployment
        check out <a href="https://www.linkedin.com/in/michael-zdrojewski-a0b4aa40">my linked in profile</a> 
        and get in touch.
    </p>
    <p><strong>My previous engagements:</strong></p>
    <p><strong><a href="http://passmedicine.com">Passmedicine</a></strong> - I've been tasked with modernising the stack. 
        Proposed changes included a docker based deployment pipeline, introduction of unit tests, rewrite of the original code, 
        performance improvements via introduction of RabbitMQ and Redis.
    </p>
    <p><strong><a href="http://www.joindouble.com">Double</a></strong> - I was responsible for full lifecycle management and developmnent 
        of a double dating mobile application. This included ongoing maintenance, new feature development, systems integration, 
        API monitoring and devops. While at Double, I have improved the security of the existing Symfony2 based API as well as its performance.
        Along code refactoring I have started introducing service oriented artchitecture and a new Docker based deployment pipeline.
        On top of that I introduced a StatsD based API monitoring and built an Admin Dashboard in GO.
    </p>
    <p><strong><a href="https://www.usemarkup.com">Markup</a></strong> - Main responsibilities included ongoing maintenance and new feature development
        for Markup's Symfony2 based ecommerce platform.
    </p>
    <p><strong>Wooju</strong> - I was tasked with conversion of the poorly written, proof of concept API
        based on top of CodeIgniter PHP framework to a modern RESTful API. It needed to be lightweight and performant, hence
        I have utilized Silex and Doctrine DBAL. Database has been set up using MariaDB and Galera Clustering technology.
        I've devised a deployment solution based on Jenkins and Docker containers deployed to Microsoft's Azure cloud platform.
    </p>
    <p><strong>These things I know well or fairly well, many more I have played with, but had no use for.</strong></p>
    <div class="tagList">
        <div class="tagBlock">
            <h3>Languages</h3>
            <div>PHP</div>
            <div>GO</div>
            <div>JavaScript</div>
        </div>
        <div class="tagBlock">
            <h3>Frameworks</h3>
            <div>Silex</div>
            <div>Symfony2 Framework</div>
            <div>AMPHP/Aerys</div>
            <div>RactPHP+RatchetPHP</div>
            <div>AngularJS</div>
            <div>Magento 1</div>
        </div>
        <div class="tagBlock">
            <h3>Databases</h3>
            <div>MySQL/MariaDB</div>
            <div>Galera Cluster</div>
            <div>RethinkDB</div>
        </div>
        <div class="tagBlock">
            <h3>Dev Ops</h3>
            <div>Vagrant</div>
            <div>Docker</div>
            <div>Git</div>
            <div>AWS (ec2/rds/ebs/sqs/elasticache)</div>
            <div>Windows Azure (linux instances)</div>
            <div>OVH+Kimsufi</div>
            <div>JIRA</div>
            <div>Taiga.io</div>
            <div>Ansible</div>
            <div>StatsD+Graphite</div>
        </div>
        <div class="tagBlock">
            <h3>Other</h3>
            <div>REST</div>
            <div>WebSockets</div>
            <div>HTML5</div>
            <div>CSS3</div>
            <div>Phalcon PHP</div>
            <div>Qt Creator</div>
            <div>SailfishOS</div>
        </div>
    </div>
    <br/>
    <p>I also like to drive, swim, ski and sail, but you most likely do not care about those.</p>
{% endblock %}
